@import '../../assets/styles/kony';

.breadcrumbWrapper {
  width: 100%;
  margin: 10px 0;

  a,
  span {
    font-family: $PoppinsMedium;
    font-size: 16px;
    color: $breadcrumb-title;
  }

  a {
    color: $thumb-border;
  }
}
