.didYouMeanHeader {
  color:rgb(253, 152, 85);	
  font-size: 14px;	
  font-weight: bold;	
  line-height: 32px;
}

.didYouMeanHeader u {
  color:#297BFF;
  font-size: 14px;	
  font-weight: bold;	
  line-height: 32px;
}

.showingResultsFor {
  font-size: 12px;
  margin-top: -20px;
}

.horizontalLine {
  opacity: 0.3;
}
