._2Wvti {
  width: calc(100% - 60px);
  padding: 12px 0; }

._3AZb9, ._1f84e, .ZHCvX {
  font-family: "RobotoSlab Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 20px; }

._1f84e {
  color: #297BFF !important; }
  ._1f84e:focus {
    text-decoration: none; }
  @media only screen and (max-width: 767px) {
    ._1f84e {
      color: #00B9FF !important; } }
  @media only screen and (max-width: 320px) {
    ._1f84e {
      font-size: 16px; } }

.ZHCvX {
  color: #30353F;
  display: inline;
  word-break: break-word; }
  @media only screen and (max-width: 767px) {
    .ZHCvX {
      color: #333333; } }
  @media only screen and (max-width: 320px) {
    .ZHCvX {
      font-size: 16px; } }

._3qVhC {
  font-size: 20px; }

