._370ky {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 380px); }
  @media only screen and (max-width: 767px) {
    ._370ky {
      min-height: calc(100vh - 220px); } }

.SB7zu {
  text-align: left;
  margin-top: 30px;
  padding-top: 20px;
  max-width: 1024px; }
  .SB7zu h1 {
    font-family: "RobotoSlab Bold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 48px;
    color: #FF6E75;
    letter-spacing: 1px;
    padding-bottom: 20px; }
    @media only screen and (max-width: 991px) {
      .SB7zu h1 {
        font-size: 38px; } }
  .SB7zu h2 {
    font-family: "RobotoSlab Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 24px;
    color: #20284B;
    letter-spacing: 0; }
    @media only screen and (max-width: 991px) {
      .SB7zu h2 {
        font-size: 20px; } }
  .SB7zu h3 {
    font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 18px;
    color: #30353F;
    letter-spacing: 0.5px;
    line-height: 28px; }
    @media only screen and (max-width: 991px) {
      .SB7zu h3 {
        font-size: 12px; } }
  .SB7zu .ds8T6 {
    margin-top: 10px; }
    @media only screen and (max-width: 767px) {
      .SB7zu .ds8T6 {
        border-radius: 40px; } }
  .SB7zu img {
    height: auto;
    width: auto; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .SB7zu img {
        width: 90%; } }
    @media only screen and (max-width: 767px) {
      .SB7zu img {
        width: 80%; } }
  @media only screen and (max-width: 767px) {
    .SB7zu {
      padding: 10px;
      text-align: center; } }

._3NUWZ {
  padding-top: 80px; }

