._2lx70 {
  display: none !important; }

._3dK4q {
  text-align: center;
  margin-top: 28px;
  justify-content: space-around; }
  ._3dK4q ._1_fDn {
    border-right: 1px solid rgba(48, 53, 63, 0.1); }
  ._3dK4q a {
    margin: 0 10px; }
  ._3dK4q ._2h9jN {
    font-family: "Poppins Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px; }

._1wlJH {
  padding: 0 10px;
  font-family: "Poppins Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 13px;
  line-height: 20px; }

._18sTW {
  margin-bottom: 26px; }

.un9yd {
  background: white;
  height: 100%; }

._4980 {
  background: white;
  margin: 0 auto;
  max-width: 1440px;
  padding: 20px;
  position: relative;
  height: 100%; }

._1sg5s {
  display: flex;
  width: 100%; }

._1zCBc {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 20px;
  color: #3F4E66; }

._34gMg {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  color: #525A6B; }

.RSpOC {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 13px;
  color: #525A6B;
  letter-spacing: 0.22px;
  text-align: left; }

._1uuIs {
  background: white;
  min-width: 200px;
  width: 200px;
  height: 200px;
  overflow: hidden; }
  ._1uuIs img {
    max-width: 200px;
    max-height: 200px;
    width: 100%; }

._3Z4gB {
  background: white;
  margin: 0 auto;
  max-width: 1440px;
  padding: 20px 8%;
  position: relative;
  height: 100%; }

._1DQZI {
  padding: 12px;
  margin-left: 30px;
  font-size: 16px;
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }

._14Op9 {
  border-left: solid 1px rgba(48, 53, 63, 0.1);
  padding-left: 16px;
  min-height: 60px; }
  ._14Op9:first-child {
    border-left: none;
    padding-left: 0; }
  @media only screen and (max-width: 767px) {
    ._14Op9 {
      border-left: none;
      padding-left: 0; } }

._3f8tX {
  font-size: 16px;
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #3F4E66;
  letter-spacing: 0.37px;
  line-height: 22px; }

._2FiW3 {
  font-family: "Poppins Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12px;
  color: #525A6B;
  letter-spacing: 0.2px;
  line-height: 19.2px;
  list-style: none;
  padding-left: 0; }

._8wI-z {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 13px;
  color: #525A6B;
  letter-spacing: 0.22px;
  text-align: left; }
  ._8wI-z img {
    max-width: 100%;
    height: auto !important; }

._2GNWc {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  color: #2887F2;
  text-align: left;
  line-height: 22px; }

._3FjBe {
  position: fixed;
  right: 20px;
  bottom: 20px; }

._1ZgnQ {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  padding-left: 20px; }

._3POKL {
  margin-left: -20px; }

._21ZUU {
  padding-left: 20px; }

.vgCP3 {
  margin: 15px 0; }
  .vgCP3 span {
    color: #8A96AF; }

._OfnV {
  height: 54px;
  display: flex;
  align-items: center; }

._2v7ht {
  margin-top: 20px; }

._3BG8h {
  margin: 30px 0;
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #30353F;
  font-size: 20px; }

.X9xGv {
  margin-right: 10px; }

._1AvNV {
  margin: 20px 0; }

._1OM0t {
  padding: 0 7px; }

.gkuiu {
  padding: 0 7px; }

._3brHz {
  padding: 20px; }

._3r9_H {
  padding: 0; }

._27j98 {
  display: flex; }

._1A38U {
  flex: 1 !important;
  padding: 10px 20px; }
  ._1A38U button {
    margin: 10px 0; }

._1n1qG {
  flex: 1 !important;
  padding: 0 20px; }
  ._1n1qG form div {
    display: flex;
    padding: 10px 0; }
    ._1n1qG form div label {
      flex-basis: 120px; }
    ._1n1qG form div input,
    ._1n1qG form div select,
    ._1n1qG form div textarea {
      flex: 1; }

._1zsEw {
  flex: 1 !important; }

._1o1qI {
  list-style: none;
  padding: 5px 0; }
  ._1o1qI li {
    cursor: pointer;
    float: left;
    margin-left: 10px; }
    ._1o1qI li:hover {
      text-decoration: underline; }

._1BKOx {
  background-color: #121920;
  display: flex;
  align-items: center;
  padding: 2px 10px; }
  ._1BKOx div {
    font-size: 22px;
    color: white; }

