._2Wvti {
  width: calc(100% - 60px);
  padding: 12px 0; }

._3AZb9, ._1f84e, .ZHCvX {
  font-family: "RobotoSlab Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 20px; }

._1f84e {
  color: #297BFF !important; }
  ._1f84e:focus {
    text-decoration: none; }
  @media only screen and (max-width: 767px) {
    ._1f84e {
      color: #00B9FF !important; } }
  @media only screen and (max-width: 320px) {
    ._1f84e {
      font-size: 16px; } }

.ZHCvX {
  color: #30353F;
  display: inline;
  word-break: break-word; }
  @media only screen and (max-width: 767px) {
    .ZHCvX {
      color: #333333; } }
  @media only screen and (max-width: 320px) {
    .ZHCvX {
      font-size: 16px; } }

._3qVhC {
  font-size: 20px; }

._3d0GU {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  opacity: 1;
  z-index: 9999; }
  ._3d0GU._2YCUz {
    position: absolute !important; }
  ._3d0GU ._2emF1 {
    width: 100%;
    height: 100%;
    display: table;
    user-select: text; }
    ._3d0GU ._2emF1 ._2ny11 {
      display: table-cell;
      text-align: center;
      vertical-align: middle; }

._334HO {
  width: 500px;
  height: 400px; }

