._3d0GU {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  opacity: 1;
  z-index: 9999; }
  ._3d0GU._2YCUz {
    position: absolute !important; }
  ._3d0GU ._2emF1 {
    width: 100%;
    height: 100%;
    display: table;
    user-select: text; }
    ._3d0GU ._2emF1 ._2ny11 {
      display: table-cell;
      text-align: center;
      vertical-align: middle; }

._334HO {
  width: 500px;
  height: 400px; }

