._1zJKe {
  border-radius: 40px;
  padding: 18px 30px;
  line-height: 0;
  cursor: pointer;
  z-index: 2; }

._3Ekqs {
  font-family: "RobotoSlab Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 0 !important; }
  ._3Ekqs:active, ._3Ekqs._2LeOg {
    opacity: .6; }

.Orjkm {
  font-family: "Poppins Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12px;
  border: solid 1px #8A96AF;
  color: #8A96AF;
  padding: 0 10px;
  border-radius: 15px; }
  .Orjkm:focus {
    border: solid 1px #8A96AF;
    color: #8A96AF; }
  .Orjkm:hover {
    background-color: #73DB9B;
    opacity: .6;
    color: white;
    border-color: #73DB9B; }
    @media only screen and (max-width: 991px) {
      .Orjkm:hover {
        border: solid 1px #8A96AF;
        color: #8A96AF;
        opacity: 1;
        background-color: white; } }
  .Orjkm._2LeOg {
    background-color: #73DB9B;
    opacity: 1;
    color: white;
    border-color: #73DB9B; }
  .Orjkm._2bLYr {
    border: solid 1px #EBEBEB;
    color: #64C489;
    font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 13px;
    margin-right: 10px;
    margin-bottom: 10px;
    opacity: 1; }
    .Orjkm._2bLYr i {
      color: black; }
    .Orjkm._2bLYr:hover {
      background-color: white;
      color: #64C489; }
    .Orjkm._2bLYr:active, .Orjkm._2bLYr._2LeOg {
      background-color: white;
      color: #64C489; }
  @media only screen and (max-width: 767px) {
    .Orjkm {
      border-radius: 6px;
      color: #788EA9;
      font-size: 13px;
      border: 1px solid rgba(138, 150, 175, 0.5); } }

._3AqOe {
  height: 20px;
  width: 20px;
  margin-right: 8px; }

._2n6ua {
  height: 20px;
  width: 20px;
  margin-right: 8px; }

.I6ToG, ._2oNV4 {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  border: solid 1px #297BFF;
  background-color: white;
  color: #297BFF;
  line-height: 0 !important; }
  .I6ToG:hover, ._2oNV4:hover {
    opacity: .6;
    background-color: white;
    color: #297BFF; }
  .I6ToG[disabled], ._2oNV4[disabled] {
    opacity: .6;
    background-color: #297BFF;
    color: white; }
  @media only screen and (max-width: 767px) {
    .I6ToG, ._2oNV4 {
      border-radius: 4px;
      border-color: "unquote('#8a96af80')";
      color: #00B9FF; } }

._2oNV4 {
  padding: 9px 20px !important; }

.nUQSe {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  border: solid 1px #297BFF;
  background-color: #297BFF;
  padding: 18px 30px;
  color: white;
  line-height: 0 !important;
  height: 40px; }
  .nUQSe:hover {
    opacity: .6;
    background-color: #297BFF;
    color: white; }
  @media only screen and (max-width: 767px) {
    .nUQSe {
      border-radius: 4px;
      border: solid 1px #00B9FF;
      background-color: #00B9FF; }
      .nUQSe:hover {
        background-color: #00B9FF; } }

._1xDUH {
  background-color: #EE6B6B;
  border: solid 1px #EE6B6B;
  color: white;
  line-height: 0 !important;
  height: 40px; }
  ._1xDUH:hover, ._1xDUH:focus {
    background-color: white;
    border: solid 1px #EE6B6B;
    color: #EE6B6B; }
  ._1xDUH:active, ._1xDUH._2LeOg {
    background-color: #EE6B6B;
    border: solid 1px #EE6B6B;
    color: white; }

._1g8e2 {
  background-color: #6e87f5;
  border: solid 1px #6e87f5;
  color: white;
  line-height: 0 !important; }
  ._1g8e2:hover, ._1g8e2:focus {
    background-color: white;
    border: solid 1px #6e87f5;
    color: #6e87f5; }
  ._1g8e2._2LeOg, ._1g8e2:active {
    background-color: #6e87f5;
    border: solid 1px #6e87f5;
    color: white; }

.UHdfC {
  background-color: #4CB9F9;
  border: solid 1px #4CB9F9;
  color: white;
  line-height: 0 !important; }
  .UHdfC:hover, .UHdfC:focus {
    background-color: white;
    border: solid 1px #4CB9F9;
    color: #4CB9F9; }
  .UHdfC._2LeOg, .UHdfC:active {
    background-color: #4CB9F9;
    border: solid 1px #4CB9F9;
    color: white; }

._2T8V3 {
  background-color: #21cba5;
  border: solid 1px #21cba5;
  color: white;
  line-height: 0 !important; }
  ._2T8V3:hover, ._2T8V3:focus {
    background-color: white;
    border: solid 1px #21cba5;
    color: #21cba5; }
  ._2T8V3._2LeOg, ._2T8V3:active {
    background-color: #21cba5;
    border: solid 1px #21cba5;
    color: white; }

._2Hptp {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12px;
  border: solid 1px #00B9FF;
  border-radius: 4px;
  background-color: transparent;
  padding: 5px;
  margin-right: 10px;
  color: rgba(0, 185, 255, 0.73);
  line-height: 20px !important; }
  ._2Hptp:hover {
    opacity: .6;
    background-color: transparent;
    color: rgba(0, 185, 255, 0.73); }
  ._2Hptp._16x0J {
    font-size: 14px;
    padding: 15px;
    color: #00B9FF;
    line-height: 0 !important; }

.shvlF {
  width: 7px;
  margin-left: 10px; }

._2lx70 {
  display: none !important; }

._3dK4q {
  text-align: center;
  margin-top: 28px;
  justify-content: space-around; }
  ._3dK4q ._1_fDn {
    border-right: 1px solid rgba(48, 53, 63, 0.1); }
  ._3dK4q a {
    margin: 0 10px; }
  ._3dK4q ._2h9jN {
    font-family: "Poppins Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px; }

._1wlJH {
  padding: 0 10px;
  font-family: "Poppins Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 13px;
  line-height: 20px; }

._18sTW {
  margin-bottom: 26px; }

.un9yd {
  background: white;
  height: 100%; }

._1wyb7 {
  height: calc(100vh - 145px);
  overflow-y: auto; }

._4980 {
  background: white;
  margin: 0 auto;
  max-width: 1440px;
  padding: 20px;
  position: relative;
  height: 100%; }

._1sg5s {
  display: flex;
  width: 100%; }

._1zCBc {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 20px;
  color: #3F4E66; }

._34gMg {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  color: #525A6B; }

.RSpOC {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 13px;
  color: #525A6B;
  letter-spacing: 0.22px;
  text-align: left; }

._1uuIs {
  background: white;
  min-width: 200px;
  width: 200px;
  height: 200px;
  overflow: hidden; }
  ._1uuIs img {
    max-width: 200px;
    max-height: 200px;
    width: 100%; }

._3Z4gB {
  background: white;
  margin: 0 auto;
  max-width: 1440px;
  padding: 20px 8%;
  position: relative;
  height: 100%; }

._1DQZI {
  padding: 12px;
  margin-left: 30px;
  font-size: 16px;
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }

._14Op9 {
  border-left: solid 1px rgba(48, 53, 63, 0.1);
  padding-left: 16px;
  min-height: 60px; }
  ._14Op9:first-child {
    border-left: none;
    padding-left: 0; }
  @media only screen and (max-width: 767px) {
    ._14Op9 {
      border-left: none;
      padding-left: 0; } }

._3f8tX {
  font-size: 16px;
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #3F4E66;
  letter-spacing: 0.37px;
  line-height: 22px; }

._2FiW3 {
  font-family: "Poppins Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12px;
  color: #525A6B;
  letter-spacing: 0.2px;
  line-height: 19.2px;
  list-style: none;
  padding-left: 0; }

._8wI-z {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 13px;
  color: #525A6B;
  letter-spacing: 0.22px;
  text-align: left; }
  ._8wI-z img {
    max-width: 100%;
    height: auto !important; }

._2GNWc {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  color: #2887F2;
  text-align: left;
  line-height: 22px; }

._3FjBe {
  position: fixed;
  right: 20px;
  bottom: 20px; }

._1ZgnQ {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  padding-left: 20px; }

._3POKL {
  margin-left: -20px; }

._21ZUU {
  padding-left: 20px; }

.vgCP3 {
  margin: 15px 0; }
  .vgCP3 span {
    color: #8A96AF; }

._OfnV {
  height: 54px;
  display: flex;
  align-items: center; }

._2v7ht {
  margin-top: 20px; }

._3BG8h {
  margin: 30px 0;
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #30353F;
  font-size: 20px; }

.X9xGv {
  margin-right: 10px; }

._1AvNV {
  margin: 20px 0; }

._1OM0t {
  padding: 0 7px; }

.gkuiu {
  padding: 0 7px; }

._3brHz {
  padding: 20px; }

._3r9_H {
  padding: 0; }

._3HEcY {
  height: calc(100vh - 51px);
  background: white;
  border-right: 1px solid #d4d4d4; }

._3n0I_ {
  overflow-y: auto; }

._15mmt {
  margin-bottom: 5px; }
  ._15mmt label {
    font-size: 14px; }

.D4gGS {
  height: calc(100vh - 71px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .D4gGS h3 {
    font-size: 28px; }

.QxijF {
  display: flex;
  justify-content: center;
  padding: 25px 0; }

._1A38U {
  flex: 0.6 !important;
  padding: 10px 20px; }
  ._1A38U button {
    margin: 10px 0; }

._1n1qG {
  flex: 1 !important;
  padding: 0 20px; }
  ._1n1qG form div {
    display: flex;
    padding: 10px 0; }
    ._1n1qG form div label {
      flex-basis: 120px; }
    ._1n1qG form div input,
    ._1n1qG form div select,
    ._1n1qG form div textarea {
      flex: 1; }

._1o1qI {
  list-style: none;
  padding: 0px 0;
  margin: 0; }
  ._1o1qI li {
    cursor: pointer;
    float: left;
    margin-left: 10px; }
    ._1o1qI li:hover {
      text-decoration: underline; }

._1BKOx {
  background-color: #121920;
  display: flex;
  align-items: center;
  padding: 2px 10px; }
  ._1BKOx div {
    font-size: 18px;
    color: white;
    top: 10px;
    position: relative;
    left: 10px; }

.d8BYZ {
  width: 30px;
  height: 30px; }

.iZurp {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 104px); }

.j2Rpp {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }

