._2fS-C {
  font-family: "RobotoSlab Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 28px;
  margin-bottom: 15px; }

._2LP30 {
  color: #8A96AF;
  font-family: "RobotoSlab Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 20px;
  margin-bottom: 20px; }

._2vzjY {
  background: transparent;
  margin: 0 auto;
  padding: 0 7px;
  width: 100%; }
  @media (min-width: 576px) {
    ._2vzjY {
      width: 540px; } }
  @media (min-width: 768px) {
    ._2vzjY {
      width: 720px; } }
  @media (min-width: 992px) {
    ._2vzjY {
      width: 960px; } }
  @media (min-width: 1200px) {
    ._2vzjY {
      width: 1155px; } }
  @media only screen and (max-width: 767px) {
    ._2vzjY {
      margin: 5px auto 0; } }

._2QNup {
  border-radius: 30px;
  border: 1px solid transparent;
  box-shadow: none;
  height: 54px;
  padding-left: 20px;
  padding-bottom: 7px;
  width: 100%;
  z-index: 2;
  font-size: 15px;
  font-family: "Poppins Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #20284B;
  background: transparent; }
  ._2QNup:focus, ._2QNup:hover {
    box-shadow: none;
    border: 1px solid transparent; }
  @media only screen and (max-width: 767px) {
    ._2QNup {
      border-radius: 20px;
      height: 36px;
      font-size: 14px;
      padding-left: 10px; } }
  @media only screen and (max-width: 320px) {
    ._2QNup {
      font-size: 12px;
      padding-left: 14px; } }

._3iX1l {
  position: absolute;
  box-shadow: none;
  right: 8px;
  top: 8px;
  background: transparent;
  border: none;
  height: 40px;
  width: 40px;
  z-index: 3; }
  ._3iX1l:focus, ._3iX1l:hover, ._3iX1l:active {
    background: transparent;
    border: none; }
  ._3iX1l img {
    width: 40px;
    height: 40px; }
    @media only screen and (max-width: 767px) {
      ._3iX1l img {
        height: 30px;
        width: 30px; } }
  @media only screen and (max-width: 767px) {
    ._3iX1l {
      height: 32px;
      width: 32px;
      top: 3px;
      right: 3px; } }

._1vL3m {
  position: relative;
  margin-bottom: 5px;
  z-index: 3; }
  @media only screen and (max-width: 991px) {
    ._1vL3m {
      width: 81%; } }

.luHcq {
  display: block; }

._3U3rA {
  background: transparent;
  width: 100%;
  z-index: 2;
  border-radius: 30px;
  border: 0;
  min-height: 50px;
  max-height: 420px;
  overflow-y: auto; }
  ._3U3rA ul {
    list-style: none;
    margin: 0 20px;
    padding: 0;
    border-top: 1px solid #eee; }
    ._3U3rA ul li {
      padding: 8px 0; }
      ._3U3rA ul li._3V79S,
      ._3U3rA ul li a {
        font-size: 14px;
        font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        color: #30353F; }
  @media only screen and (max-width: 767px) {
    ._3U3rA {
      border-radius: 20px;
      min-height: 40px; } }

._1ehLH {
  display: none !important; }

._2nI9h {
  background: white;
  width: 100%;
  border-radius: 30px;
  box-shadow: 0 0 16px -6px rgba(63, 78, 102, 0.07);
  border: 1px solid #ced2d8;
  position: absolute; }
  @media only screen and (max-width: 767px) {
    ._2nI9h {
      border-radius: 20px; } }

._24zxq {
  position: absolute;
  right: 55px;
  z-index: 3;
  font-size: 28px;
  top: 12px;
  color: #8A96AF; }
  @media only screen and (max-width: 767px) {
    ._24zxq {
      right: 39px;
      font-size: 24px;
      top: 6px; } }

._37D1n {
  background-color: #f9fafc;
  z-index: 1;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  top: 0;
  padding: 20px 0; }
  @media only screen and (max-width: 991px) {
    ._37D1n {
      margin: 0;
      padding: 20px 0 0; } }

.TR3z3 {
  background: transparent;
  padding: 0; }
  @media only screen and (max-width: 991px) {
    .TR3z3 {
      height: 46px;
      margin: 0; } }

._2rwd5 {
  background: transparent;
  margin: 0 auto;
  padding: 0 7px;
  width: 100%; }
  @media (min-width: 576px) {
    ._2rwd5 {
      width: 540px; } }
  @media (min-width: 768px) {
    ._2rwd5 {
      width: 720px; } }
  @media (min-width: 992px) {
    ._2rwd5 {
      width: 960px; } }
  @media (min-width: 1200px) {
    ._2rwd5 {
      width: 1155px; } }
  @media only screen and (max-width: 767px) {
    ._2rwd5 {
      margin-top: 6px; } }

.DWRSw {
  font-size: 14px;
  padding-left: 17px;
  height: auto;
  line-height: 14px;
  list-style: none;
  border-left: solid 3px transparent; }
  .DWRSw:hover, .DWRSw._3cX0W {
    background-color: #EDF3F4;
    border-left: solid 3px #267BFF; }

.U42Gj, ._2ZQY4 li {
  font-size: 14px;
  padding-left: 17px;
  height: 47px;
  line-height: 37px;
  list-style: none;
  border-left: solid 3px transparent;
  width: 100%; }
  .U42Gj:first-child, ._2ZQY4 li:first-child {
    border-radius: 6px 6px 0 0; }
  .U42Gj:last-child, ._2ZQY4 li:last-child {
    border-radius: 0 0 6px 6px; }
  .U42Gj:hover, ._2ZQY4 li:hover, .U42Gj._3cX0W, ._2ZQY4 li._3cX0W {
    background-color: #EDF3F4;
    border-left: solid 3px #267BFF; }
  .U42Gj div, ._2ZQY4 li div {
    padding-left: 0;
    margin: 0;
    width: 100%;
    font-size: 14px;
    height: 47px;
    line-height: 37px;
    list-style: none;
    border-left: solid 3px transparent; }
    .U42Gj div:hover, ._2ZQY4 li div:hover, .U42Gj div._3cX0W, ._2ZQY4 li div._3cX0W {
      background-color: #EDF3F4; }

._2ZQY4 {
  background: white;
  width: 282px;
  border-radius: 6px;
  box-shadow: 0 4px 7px rgba(5, 53, 134, 0.17);
  padding: 0; }

._2R46m h3 {
  color: #37414B;
  font-size: 16px;
  text-align: center;
  line-height: 2;
  font-family: "Poppins SemiBold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  letter-spacing: 1.78px; }

._3cHO- {
  z-index: 99;
  cursor: pointer;
  position: relative;
  display: block;
  outline: 0;
  height: 74px;
  float: left; }
  @media only screen and (max-width: 991px) {
    ._3cHO- {
      height: 36px;
      position: absolute;
      left: 8px; } }

._3dFSp {
  background: transparent;
  border: 0;
  float: right;
  line-height: 2;
  padding-top: 6px; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    ._3dFSp {
      padding-top: 0; } }

._13S_o {
  border: solid 1px transparent !important;
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  text-align: center;
  transition: none;
  line-height: 1;
  margin-left: 6px;
  padding-right: 0;
  top: 2px !important; }
  ._13S_o ._1VbMM {
    color: #297BFF !important;
    line-height: 2;
    text-align: right;
    margin-right: 2px; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    ._13S_o {
      font-size: 11px; } }

._36pr0 {
  border: solid 1px transparent !important;
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #30353F !important;
  text-align: center;
  padding: 7px 13px;
  transition: none;
  line-height: 1;
  margin: 0 6px; }
  ._36pr0 .pHcLQ {
    color: #30353F !important; }
  ._36pr0 ._2LXiV {
    margin-left: 5px;
    width: 12px; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      ._36pr0 ._2LXiV {
        padding-left: 0; } }
  ._36pr0 > a {
    color: #30353F !important; }
  ._36pr0:hover, ._36pr0._3cX0W {
    border: solid 1px #889398 !important;
    border-radius: 15px;
    color: #30353F !important; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    ._36pr0 {
      font-size: 11px;
      padding: 5px 10px;
      margin: 0 3px; } }

.nf6OO {
  background: white;
  display: block;
  top: 0;
  transition: all 0.8s !important;
  width: 100% !important;
  z-index: 1110 !important; }

._1581- {
  line-height: 3;
  padding-top: 2px; }

._3a0GW {
  height: 26px;
  vertical-align: top;
  width: 26px; }

._2H5OA {
  padding: 15px; }

._3hu4h {
  float: right;
  color: #00B9FF;
  cursor: pointer;
  font-weight: bolder;
  font-size: 16px;
  margin: 10px; }

.fCJa9 {
  width: 83px;
  text-decoration: none !important; }

._35no5 {
  border: none;
  padding-top: 40px; }

._1ub2W._36KnI {
  background: transparent; }
  ._1ub2W._36KnI a {
    color: #1890ff; }
  ._1ub2W._36KnI:after {
    display: none; }

._1ub2W a {
  color: #333333; }

._1ub2W._11Iw4 a {
  color: #1890ff; }

._1ub2W div {
  text-transform: capitalize; }

._31ue2 {
  background: transparent !important; }
  ._31ue2::after {
    display: none; }
  ._31ue2._3vutF {
    background: transparent; }
    ._31ue2._3vutF a {
      color: #1890ff; }

._2tJn2 {
  display: none !important; }

._34BgE {
  border: none !important;
  outline: none; }
  ._34BgE ._1VbMM {
    color: #297BFF !important;
    line-height: 2.3;
    text-align: right;
    margin-right: 2px; }
    ._34BgE ._1VbMM:hover, ._34BgE ._1VbMM:focus, ._34BgE ._1VbMM:active {
      opacity: 0.9; }

._3P11L {
  background: white;
  width: 282px;
  border-radius: 6px;
  box-shadow: 0 4px 7px rgba(5, 53, 134, 0.17);
  padding: 0; }
  ._3P11L li {
    font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #646E83;
    list-style: none;
    border-left: solid 3px transparent; }
    ._3P11L li:first-child {
      border-radius: 6px 6px 0 0; }
    ._3P11L li:last-child {
      border-radius: 0 0 6px 6px; }
    ._3P11L li:hover, ._3P11L li._3cX0W {
      background-color: #EDF3F4;
      border-left: solid 3px #267BFF; }

._24paQ {
  z-index: 1111; }

._4hXlS {
  font-size: 24px;
  width: 24px; }

._2FQqh {
  width: 270px;
  z-index: 1051 !important; }
  ._2FQqh.OyPfk > div {
    border-left: solid 3px transparent;
    color: #646E83;
    font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    line-height: 37px;
    list-style: none;
    width: 100%; }
    ._2FQqh.OyPfk > div:hover, ._2FQqh.OyPfk > div._3cX0W {
      background-color: #EDF3F4;
      border-left: solid 3px #267BFF; }
  ._2FQqh ul {
    padding: 0; }

._39jXM {
  padding-top: 5px; }
  ._39jXM h3 {
    font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    color: #646E83;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  ._39jXM h4 {
    font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 12px;
    color: #788EA9;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }

._2uM84 {
  border-radius: 50%; }

._1eCkO {
  background: #8A96AF;
  border-radius: 50%;
  height: 35px;
  width: 35px; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    ._1eCkO {
      height: 30px;
      width: 30px; } }

._1rXd1 {
  background: #EE6B6B;
  color: white;
  border-radius: 50%;
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  height: 36px;
  width: 36px;
  font-size: 18px;
  margin: 0 auto; }

._1a6rv {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #646E83;
  text-align: center;
  margin-bottom: 10px; }

._2ykzB {
  display: flex;
  justify-content: center;
  padding: 40px 0; }
  @media only screen and (max-width: 991px) {
    ._2ykzB {
      padding: 30px 15px; } }

._373kJ {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #297BFF;
  margin: 0 auto;
  width: 30%;
  text-align: center; }
  ._373kJ:focus, ._373kJ:hover, ._373kJ:active {
    color: #297BFF;
    text-decoration: underline; }
  @media only screen and (max-width: 767px) {
    ._373kJ {
      color: #00B9FF; }
      ._373kJ:focus, ._373kJ:hover, ._373kJ:active {
        color: #00B9FF;
        text-decoration: underline; } }

.UCtRZ {
  display: inline-block;
  width: 42px;
  height: 42px; }
  .UCtRZ:hover, .UCtRZ:active, .UCtRZ:focus {
    background-color: transparent; }

._3aJnf {
  display: none !important; }

._1m5CB {
  margin: 20px auto;
  min-height: calc(100vh - 290px);
  width: 100%; }
  @media (min-width: 576px) {
    ._1m5CB {
      width: 540px; } }
  @media (min-width: 768px) {
    ._1m5CB {
      width: 720px; } }
  @media (min-width: 992px) {
    ._1m5CB {
      width: 960px; } }
  @media (min-width: 1200px) {
    ._1m5CB {
      width: 1155px; } }
  @media only screen and (min-width: 992px) {
    ._1m5CB {
      min-height: calc(100vh - 295px); } }
  @media only screen and (max-width: 767px) {
    ._1m5CB {
      margin: 0 auto; } }

._35OR9 {
  background: #f9fafc;
  font-family: "Poppins Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 13px;
  line-height: 20px; }

._1FBvf {
  border-top: 1px solid rgba(48, 53, 63, 0.1); }

._1YU0W {
  display: none; }

._1K6C2 {
  width: 100%; }

._1i2jg {
  padding: 10px;
  width: 100%; }

._2PPfO {
  margin-left: 10px; }

._1zJKe {
  border-radius: 40px;
  padding: 18px 30px;
  line-height: 0;
  cursor: pointer;
  z-index: 2; }

._3Ekqs {
  font-family: "RobotoSlab Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 0 !important; }
  ._3Ekqs:active, ._3Ekqs._2LeOg {
    opacity: .6; }

.Orjkm {
  font-family: "Poppins Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12px;
  border: solid 1px #8A96AF;
  color: #8A96AF;
  padding: 0 10px;
  border-radius: 15px; }
  .Orjkm:focus {
    border: solid 1px #8A96AF;
    color: #8A96AF; }
  .Orjkm:hover {
    background-color: #73DB9B;
    opacity: .6;
    color: white;
    border-color: #73DB9B; }
    @media only screen and (max-width: 991px) {
      .Orjkm:hover {
        border: solid 1px #8A96AF;
        color: #8A96AF;
        opacity: 1;
        background-color: white; } }
  .Orjkm._2LeOg {
    background-color: #73DB9B;
    opacity: 1;
    color: white;
    border-color: #73DB9B; }
  .Orjkm._2bLYr {
    border: solid 1px #EBEBEB;
    color: #64C489;
    font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 13px;
    margin-right: 10px;
    margin-bottom: 10px;
    opacity: 1; }
    .Orjkm._2bLYr i {
      color: black; }
    .Orjkm._2bLYr:hover {
      background-color: white;
      color: #64C489; }
    .Orjkm._2bLYr:active, .Orjkm._2bLYr._2LeOg {
      background-color: white;
      color: #64C489; }
  @media only screen and (max-width: 767px) {
    .Orjkm {
      border-radius: 6px;
      color: #788EA9;
      font-size: 13px;
      border: 1px solid rgba(138, 150, 175, 0.5); } }

._3AqOe {
  height: 20px;
  width: 20px;
  margin-right: 8px; }

._2n6ua {
  height: 20px;
  width: 20px;
  margin-right: 8px; }

.I6ToG, ._2oNV4 {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  border: solid 1px #297BFF;
  background-color: white;
  color: #297BFF;
  line-height: 0 !important; }
  .I6ToG:hover, ._2oNV4:hover {
    opacity: .6;
    background-color: white;
    color: #297BFF; }
  .I6ToG[disabled], ._2oNV4[disabled] {
    opacity: .6;
    background-color: #297BFF;
    color: white; }
  @media only screen and (max-width: 767px) {
    .I6ToG, ._2oNV4 {
      border-radius: 4px;
      border-color: "unquote('#8a96af80')";
      color: #00B9FF; } }

._2oNV4 {
  padding: 9px 20px !important; }

.nUQSe {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  border: solid 1px #297BFF;
  background-color: #297BFF;
  padding: 18px 30px;
  color: white;
  line-height: 0 !important;
  height: 40px; }
  .nUQSe:hover {
    opacity: .6;
    background-color: #297BFF;
    color: white; }
  @media only screen and (max-width: 767px) {
    .nUQSe {
      border-radius: 4px;
      border: solid 1px #00B9FF;
      background-color: #00B9FF; }
      .nUQSe:hover {
        background-color: #00B9FF; } }

._1xDUH {
  background-color: #EE6B6B;
  border: solid 1px #EE6B6B;
  color: white;
  line-height: 0 !important;
  height: 40px; }
  ._1xDUH:hover, ._1xDUH:focus {
    background-color: white;
    border: solid 1px #EE6B6B;
    color: #EE6B6B; }
  ._1xDUH:active, ._1xDUH._2LeOg {
    background-color: #EE6B6B;
    border: solid 1px #EE6B6B;
    color: white; }

._1g8e2 {
  background-color: #6e87f5;
  border: solid 1px #6e87f5;
  color: white;
  line-height: 0 !important; }
  ._1g8e2:hover, ._1g8e2:focus {
    background-color: white;
    border: solid 1px #6e87f5;
    color: #6e87f5; }
  ._1g8e2._2LeOg, ._1g8e2:active {
    background-color: #6e87f5;
    border: solid 1px #6e87f5;
    color: white; }

.UHdfC {
  background-color: #4CB9F9;
  border: solid 1px #4CB9F9;
  color: white;
  line-height: 0 !important; }
  .UHdfC:hover, .UHdfC:focus {
    background-color: white;
    border: solid 1px #4CB9F9;
    color: #4CB9F9; }
  .UHdfC._2LeOg, .UHdfC:active {
    background-color: #4CB9F9;
    border: solid 1px #4CB9F9;
    color: white; }

._2T8V3 {
  background-color: #21cba5;
  border: solid 1px #21cba5;
  color: white;
  line-height: 0 !important; }
  ._2T8V3:hover, ._2T8V3:focus {
    background-color: white;
    border: solid 1px #21cba5;
    color: #21cba5; }
  ._2T8V3._2LeOg, ._2T8V3:active {
    background-color: #21cba5;
    border: solid 1px #21cba5;
    color: white; }

._2Hptp {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12px;
  border: solid 1px #00B9FF;
  border-radius: 4px;
  background-color: transparent;
  padding: 5px;
  margin-right: 10px;
  color: rgba(0, 185, 255, 0.73);
  line-height: 20px !important; }
  ._2Hptp:hover {
    opacity: .6;
    background-color: transparent;
    color: rgba(0, 185, 255, 0.73); }
  ._2Hptp._16x0J {
    font-size: 14px;
    padding: 15px;
    color: #00B9FF;
    line-height: 0 !important; }

.shvlF {
  width: 7px;
  margin-left: 10px; }

._2lx70 {
  display: none !important; }

._3dK4q {
  text-align: center;
  margin-top: 28px;
  justify-content: space-around; }
  ._3dK4q ._1_fDn {
    border-right: 1px solid rgba(48, 53, 63, 0.1); }
  ._3dK4q a {
    margin: 0 10px; }
  ._3dK4q ._2h9jN {
    font-family: "Poppins Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px; }

._1wlJH {
  padding: 0 10px;
  font-family: "Poppins Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 13px;
  line-height: 20px; }

._18sTW {
  margin-bottom: 26px; }

.un9yd {
  background: white;
  height: 100%; }

._1wyb7 {
  height: calc(100vh - 145px);
  overflow-y: auto; }

._4980 {
  background: white;
  margin: 0 auto;
  max-width: 1440px;
  padding: 20px;
  position: relative;
  height: 100%; }

._1sg5s {
  display: flex;
  width: 100%; }

._1zCBc {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 20px;
  color: #3F4E66; }

._34gMg {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  color: #525A6B; }

.RSpOC {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 13px;
  color: #525A6B;
  letter-spacing: 0.22px;
  text-align: left; }

._1uuIs {
  background: white;
  min-width: 200px;
  width: 200px;
  height: 200px;
  overflow: hidden; }
  ._1uuIs img {
    max-width: 200px;
    max-height: 200px;
    width: 100%; }

._3Z4gB {
  background: white;
  margin: 0 auto;
  max-width: 1440px;
  padding: 20px 8%;
  position: relative;
  height: 100%; }

._1DQZI {
  padding: 12px;
  margin-left: 30px;
  font-size: 16px;
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }

._14Op9 {
  border-left: solid 1px rgba(48, 53, 63, 0.1);
  padding-left: 16px;
  min-height: 60px; }
  ._14Op9:first-child {
    border-left: none;
    padding-left: 0; }
  @media only screen and (max-width: 767px) {
    ._14Op9 {
      border-left: none;
      padding-left: 0; } }

._3f8tX {
  font-size: 16px;
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #3F4E66;
  letter-spacing: 0.37px;
  line-height: 22px; }

._2FiW3 {
  font-family: "Poppins Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12px;
  color: #525A6B;
  letter-spacing: 0.2px;
  line-height: 19.2px;
  list-style: none;
  padding-left: 0; }

._8wI-z {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 13px;
  color: #525A6B;
  letter-spacing: 0.22px;
  text-align: left; }
  ._8wI-z img {
    max-width: 100%;
    height: auto !important; }

._2GNWc {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  color: #2887F2;
  text-align: left;
  line-height: 22px; }

._3FjBe {
  position: fixed;
  right: 20px;
  bottom: 20px; }

._1ZgnQ {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  padding-left: 20px; }

._3POKL {
  margin-left: -20px; }

._21ZUU {
  padding-left: 20px; }

.vgCP3 {
  margin: 15px 0; }
  .vgCP3 span {
    color: #8A96AF; }

._OfnV {
  height: 54px;
  display: flex;
  align-items: center; }

._2v7ht {
  margin-top: 20px; }

._3BG8h {
  margin: 30px 0;
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #30353F;
  font-size: 20px; }

.X9xGv {
  margin-right: 10px; }

._1AvNV {
  margin: 20px 0; }

._1OM0t {
  padding: 0 7px; }

.gkuiu {
  padding: 0 7px; }

._3brHz {
  padding: 20px; }

._3r9_H {
  padding: 0; }

._3HEcY {
  height: calc(100vh - 51px);
  background: white;
  border-right: 1px solid #d4d4d4; }

._3n0I_ {
  overflow-y: auto; }

._15mmt {
  margin-bottom: 5px; }
  ._15mmt label {
    font-size: 14px; }

.D4gGS {
  height: calc(100vh - 71px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .D4gGS h3 {
    font-size: 28px; }

.QxijF {
  display: flex;
  justify-content: center;
  padding: 25px 0; }

._1A38U {
  flex: 0.6 !important;
  padding: 10px 20px; }
  ._1A38U button {
    margin: 10px 0; }

._1n1qG {
  flex: 1 !important;
  padding: 0 20px; }
  ._1n1qG form div {
    display: flex;
    padding: 10px 0; }
    ._1n1qG form div label {
      flex-basis: 120px; }
    ._1n1qG form div input,
    ._1n1qG form div select,
    ._1n1qG form div textarea {
      flex: 1; }

._1o1qI {
  list-style: none;
  padding: 0px 0;
  margin: 0; }
  ._1o1qI li {
    cursor: pointer;
    float: left;
    margin-left: 10px; }
    ._1o1qI li:hover {
      text-decoration: underline; }

._1BKOx {
  background-color: #121920;
  display: flex;
  align-items: center;
  padding: 2px 10px; }
  ._1BKOx div {
    font-size: 18px;
    color: white;
    top: 10px;
    position: relative;
    left: 10px; }

.d8BYZ {
  width: 30px;
  height: 30px; }

.iZurp {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 104px); }

.j2Rpp {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }

._370ky {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 380px); }
  @media only screen and (max-width: 767px) {
    ._370ky {
      min-height: calc(100vh - 220px); } }

.SB7zu {
  text-align: left;
  margin-top: 30px;
  padding-top: 20px;
  max-width: 1024px; }
  .SB7zu h1 {
    font-family: "RobotoSlab Bold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 48px;
    color: #FF6E75;
    letter-spacing: 1px;
    padding-bottom: 20px; }
    @media only screen and (max-width: 991px) {
      .SB7zu h1 {
        font-size: 38px; } }
  .SB7zu h2 {
    font-family: "RobotoSlab Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 24px;
    color: #20284B;
    letter-spacing: 0; }
    @media only screen and (max-width: 991px) {
      .SB7zu h2 {
        font-size: 20px; } }
  .SB7zu h3 {
    font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 18px;
    color: #30353F;
    letter-spacing: 0.5px;
    line-height: 28px; }
    @media only screen and (max-width: 991px) {
      .SB7zu h3 {
        font-size: 12px; } }
  .SB7zu .ds8T6 {
    margin-top: 10px; }
    @media only screen and (max-width: 767px) {
      .SB7zu .ds8T6 {
        border-radius: 40px; } }
  .SB7zu img {
    height: auto;
    width: auto; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .SB7zu img {
        width: 90%; } }
    @media only screen and (max-width: 767px) {
      .SB7zu img {
        width: 80%; } }
  @media only screen and (max-width: 767px) {
    .SB7zu {
      padding: 10px;
      text-align: center; } }

._3NUWZ {
  padding-top: 80px; }

