.KRgvH {
  font-family: "RobotoSlab Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 28px;
  margin-bottom: 15px; }

._2hTvj {
  color: #8A96AF;
  font-family: "RobotoSlab Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 20px;
  margin-bottom: 20px; }

._1B93O {
  background: transparent;
  margin: 0 auto;
  padding: 0 7px;
  width: 100%; }
  @media (min-width: 576px) {
    ._1B93O {
      width: 540px; } }
  @media (min-width: 768px) {
    ._1B93O {
      width: 720px; } }
  @media (min-width: 992px) {
    ._1B93O {
      width: 960px; } }
  @media (min-width: 1200px) {
    ._1B93O {
      width: 1155px; } }
  @media only screen and (max-width: 767px) {
    ._1B93O {
      margin: 5px auto 0; } }

._3TQnU {
  border-radius: 30px;
  border: 1px solid transparent;
  box-shadow: none;
  height: 54px;
  padding-left: 20px;
  padding-bottom: 5px;
  width: 100%;
  z-index: 2;
  font-size: 15px;
  font-family: "Poppins Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #20284B;
  background: transparent; }
  ._3TQnU:focus, ._3TQnU:hover {
    box-shadow: none;
    border: 1px solid transparent; }
  @media only screen and (max-width: 767px) {
    ._3TQnU {
      border-radius: 20px;
      height: 36px;
      font-size: 14px;
      padding-left: 10px; } }
  @media only screen and (max-width: 320px) {
    ._3TQnU {
      font-size: 12px;
      padding-left: 14px; } }

._1iH_3 {
  position: absolute;
  box-shadow: none;
  right: 8px;
  top: 8px;
  background: transparent;
  border: none;
  height: 40px;
  width: 40px;
  z-index: 3; }
  ._1iH_3:focus, ._1iH_3:hover, ._1iH_3:active {
    background: transparent;
    border: none; }
  ._1iH_3 img {
    width: 40px;
    height: 40px; }
    @media only screen and (max-width: 767px) {
      ._1iH_3 img {
        height: 30px;
        width: 30px; } }
  @media only screen and (max-width: 767px) {
    ._1iH_3 {
      height: 32px;
      width: 32px;
      top: 3px;
      right: 3px; } }

._1oI2r {
  position: relative;
  margin-bottom: 5px;
  width: 55%;
  height: 54px;
  z-index: 3; }
  @media only screen and (max-width: 991px) {
    ._1oI2r {
      width: 81%; } }

._2Itax {
  display: block; }

._1F3uf {
  background: transparent;
  width: 100%;
  z-index: 2;
  border-radius: 30px;
  border: 0;
  min-height: 50px;
  max-height: 420px;
  overflow-y: auto; }
  ._1F3uf ul {
    list-style: none;
    margin: 0 20px;
    padding: 0;
    border-top: 1px solid #eee; }
    ._1F3uf ul li {
      padding: 8px 0; }
      ._1F3uf ul li.RKnVL,
      ._1F3uf ul li a {
        font-size: 14px;
        font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        color: #30353F; }
  @media only screen and (max-width: 767px) {
    ._1F3uf {
      border-radius: 20px;
      min-height: 40px; } }

.aLPGy {
  display: none !important; }

._1xqJb {
  background: white;
  width: 100%;
  border-radius: 30px;
  box-shadow: 0 0 16px -6px rgba(63, 78, 102, 0.07);
  border: 1px solid #ced2d8;
  position: absolute; }
  @media only screen and (max-width: 767px) {
    ._1xqJb {
      border-radius: 20px; } }

._3KUOY {
  position: absolute;
  right: 55px;
  z-index: 3;
  font-size: 28px;
  top: 12px;
  color: #8A96AF; }
  @media only screen and (max-width: 767px) {
    ._3KUOY {
      right: 39px;
      font-size: 24px;
      top: 6px; } }

._2_O-Y {
  color: #fd9855;
  font-size: 14px;
  font-weight: bold;
  line-height: 32px; }

._2_O-Y u {
  color: #297BFF;
  font-size: 14px;
  font-weight: bold;
  line-height: 32px; }

._3XINv {
  font-size: 12px;
  margin-top: -20px; }

._3nUM2 {
  opacity: 0.3; }

._1wxwa {
  padding: 0 7px;
  font-family: "Poppins Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 13px;
  line-height: 20px; }

._13mg3 {
  display: none; }

._2KH9B {
  font-family: "RobotoSlab Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 20px;
  color: #30353F;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 8px;
  margin: 18px 8px 0; }
  @media only screen and (max-width: 767px) {
    ._2KH9B {
      margin: 2px 8px 0; } }

._1rjXx {
  font-family: "RobotoSlab Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 13px;
  color: #297BFF;
  margin: 13px 3px 0 8px;
  border-bottom: solid 1px #297BFF;
  position: absolute;
  right: 0;
  bottom: 9px; }
  @media only screen and (max-width: 767px) {
    ._1rjXx {
      font-size: 14px;
      border-bottom: none;
      margin: 8px;
      color: #00B9FF;
      text-transform: capitalize; } }
  @media only screen and (min-width: 768px) and (max-width: 1199px) {
    ._1rjXx {
      right: 27px; } }
  ._1rjXx.yvulx {
    bottom: unset; }

._1OTML {
  margin-top: 59px;
  margin-bottom: 78px; }
  ._1OTML i {
    vertical-align: 0;
    color: #889398; }

._3grBD {
  top: 60px !important;
  background: #f9fafc !important;
  height: 700px !important; }
  @media only screen and (max-width: 767px) {
    ._3grBD {
      height: 1000px !important; } }
  @media only screen and (min-width: 768px) and (max-width: 1199px) {
    ._3grBD {
      height: 1100px !important; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    ._3grBD {
      height: 1440px !important; } }

._1DhuS {
  text-align: center; }

._2oyov {
  border-radius: 6px;
  width: 213px;
  height: 332px;
  margin: 10px 9px;
  background-color: white;
  box-shadow: 0 6px 8px rgba(175, 191, 222, 0.2);
  position: relative; }
  ._2oyov:hover {
    box-shadow: 0 6px 8px rgba(175, 191, 222, 0.2); }
  @media only screen and (max-width: 767px) {
    ._2oyov {
      background: transparent;
      border: none;
      box-shadow: none;
      display: flex;
      flex-direction: row;
      height: 100px;
      width: 100%;
      padding: 10px;
      margin: 0; }
      ._2oyov:hover {
        box-shadow: none; } }

._3ks-s {
  height: 150px; }
  @media only screen and (max-width: 767px) {
    ._3ks-s {
      height: 80px; } }

.FUMqf {
  padding: 9px 12px;
  height: 171px;
  width: 100%; }
  @media only screen and (max-width: 767px) {
    .FUMqf {
      padding: 0;
      margin-left: 10px;
      height: 80px; } }

._3t95i,
._3ZcQU {
  background-color: #f0f0f0;
  border-radius: 6px 6px 0 0;
  height: 163px;
  width: 213px;
  z-index: 2; }
  @media only screen and (max-width: 767px) {
    ._3t95i,
    ._3ZcQU {
      height: auto;
      background: transparent;
      width: 80px;
      border-radius: 6px; } }

._1MdLO {
  font-family: "RobotoSlab Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  color: #30353F;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
  @media only screen and (max-width: 767px) {
    ._1MdLO {
      color: #00B9FF;
      font-size: 15px; } }

._3RckR {
  font-family: "Poppins Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 13px;
  color: #8A96AF;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
  ._3RckR a {
    color: #297BFF; }
  @media only screen and (max-width: 767px) {
    ._3RckR {
      display: none; } }

._1NtQ- {
  height: 100%; }

._28X4M {
  width: 100%; }

._2r4CK {
  text-align: right;
  padding-top: 20px; }
  @media only screen and (max-width: 767px) {
    ._2r4CK {
      display: inline-flex;
      justify-content: space-evenly; } }

._38ELY {
  font-family: "Poppins Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 13px;
  color: #8A96AF;
  position: absolute;
  bottom: 0; }
  ._38ELY a {
    color: #8A96AF; }
  ._38ELY span {
    display: inline-block;
    width: auto;
    min-width: 33%; }
    ._38ELY span img {
      height: 18px;
      width: 24px;
      padding-right: 6px;
      padding-bottom: 4px; }
    ._38ELY span i {
      font-size: 18px;
      margin-right: 5px; }

._1B-UD {
  height: 60px;
  overflow: hidden; }
  ._1B-UD a {
    font-family: "Poppins Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 13px;
    color: #30353F;
    margin: 0;
    word-break: break-word;
    height: 60px;
    text-decoration: none;
    overflow: hidden; }
    @media only screen and (max-width: 767px) {
      ._1B-UD a {
        color: #37414B;
        line-height: 19px;
        word-break: break-word;
        height: auto; } }

._2ZveV {
  position: absolute;
  top: 42px;
  left: 72px; }
  @media only screen and (max-width: 767px) {
    ._2ZveV {
      top: 10px;
      left: 9px; } }

._3Kqkh {
  color: #ccc;
  font-size: 24px;
  margin-left: 10px; }

._2Wvti {
  width: calc(100% - 60px);
  padding: 12px 0; }

._3AZb9, ._1f84e, .ZHCvX {
  font-family: "RobotoSlab Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 20px; }

._1f84e {
  color: #297BFF !important; }
  ._1f84e:focus {
    text-decoration: none; }
  @media only screen and (max-width: 767px) {
    ._1f84e {
      color: #00B9FF !important; } }
  @media only screen and (max-width: 320px) {
    ._1f84e {
      font-size: 16px; } }

.ZHCvX {
  color: #30353F;
  display: inline;
  word-break: break-word; }
  @media only screen and (max-width: 767px) {
    .ZHCvX {
      color: #333333; } }
  @media only screen and (max-width: 320px) {
    .ZHCvX {
      font-size: 16px; } }

._3qVhC {
  font-size: 20px; }

._16wfj {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #297BFF;
  border: none;
  background: transparent;
  box-shadow: none;
  padding: 0; }
  ._16wfj:hover, ._16wfj:active, ._16wfj:focus {
    background: transparent; }
  @media only screen and (max-width: 767px) {
    ._16wfj {
      color: #00B9FF; } }

._2RnCT {
  padding: 26px 0 0;
  max-width: calc(100% - 100px); }
  ._2RnCT a {
    margin-right: 10px; }

._3rYJn {
  font-family: "RobotoSlab Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 13px;
  color: #30353F; }
  ._3rYJn ._3vLu6 {
    height: 17px;
    margin-right: 6px;
    width: 16px; }
  ._3rYJn ._2IsWO {
    height: 6px;
    width: 12px;
    margin-left: 10px; }
  ._3rYJn:active, ._3rYJn:hover, ._3rYJn:focus {
    color: #30353F;
    text-decoration: none; }

._7dnih {
  background: white;
  width: 282px;
  border-radius: 6px;
  box-shadow: 0 4px 7px rgba(5, 53, 134, 0.17);
  margin-top: 10px;
  padding: 0; }
  ._7dnih li {
    font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #646E83;
    padding-left: 17px;
    height: 47px;
    line-height: 37px;
    list-style: none;
    border-left: solid 3px transparent; }
    ._7dnih li:first-child {
      border-radius: 6px 6px 0 0; }
    ._7dnih li:last-child {
      border-radius: 0 0 6px 6px; }
    ._7dnih li:hover, ._7dnih li.mYZc- {
      background-color: #EDF3F4;
      border-left: solid 3px #297BFF; }

._2V6iF {
  padding: 12px 0;
  position: absolute;
  right: 7px;
  top: 4px;
  margin-top: 15px; }
  @media only screen and (max-width: 767px) {
    ._2V6iF {
      right: 10px; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    ._2V6iF {
      right: 34px; } }

._2i1bc {
  margin-top: 10px; }
  @media only screen and (max-width: 767px) {
    ._2i1bc {
      border-radius: 40px; } }

._3fhbO {
  height: 200px;
  padding-bottom: 40px; }

._74pfd {
  margin-right: 30px;
  border-color: #8A96AF; }

._1Fotl {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #30353F;
  overflow: auto; }

.cBZj- {
  margin-right: 20px;
  border-color: #8A96AF; }

._1rfD5 {
  padding: 5px;
  margin-bottom: 5px; }
  ._1rfD5 label,
  ._1rfD5 input,
  ._1rfD5 textarea {
    color: #30353F;
    font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px; }

._4Q0Ug {
  width: 100%; }
  ._4Q0Ug div[role='tab'] {
    font-family: "RobotoSlab Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    color: #8A96AF;
    padding: 20px 0;
    margin-right: 38px; }
    ._4Q0Ug div[role='tab']:hover {
      color: #8A96AF; }
    @media only screen and (max-width: 767px) {
      ._4Q0Ug div[role='tab'] {
        color: #37414B;
        opacity: .5; }
        ._4Q0Ug div[role='tab']:hover {
          color: #37414B; } }
  ._4Q0Ug div[aria-selected='true'] {
    color: #30353F; }
    ._4Q0Ug div[aria-selected='true']:hover {
      color: #30353F;
      cursor: default; }
    @media only screen and (max-width: 767px) {
      ._4Q0Ug div[aria-selected='true'] {
        color: #333333;
        opacity: 1; }
        ._4Q0Ug div[aria-selected='true']:hover {
          color: #333333;
          opacity: 1; } }

._2EAZq {
  font-family: "RobotoSlab Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  color: #30353F;
  padding-top: 10px;
  margin-bottom: 10px; }

._2HhTP {
  color: #8A96AF;
  font-family: "Poppins Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 13px;
  line-height: 20px; }
  ._2HhTP a {
    color: #297BFF; }

._2rdd7 {
  display: none !important; }

._3DMRA {
  color: #30353F;
  font-family: "Poppins Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 13px;
  line-height: 20px;
  margin-top: 10px;
  margin-bottom: 8px; }
  @media only screen and (max-width: 767px) {
    ._3DMRA {
      margin-top: 0;
      color: #37414B; } }

._34-V2 {
  font-family: "Poppins Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 13px; }
  ._34-V2 h1,
  ._34-V2 h2,
  ._34-V2 h3,
  ._34-V2 strong {
    color: #30353F;
    font-family: "RobotoSlab Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: unset; }
  ._34-V2 pre {
    display: block;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px; }
  @media only screen and (max-width: 767px) {
    ._34-V2 a {
      color: #00B9FF !important; } }

.UeVu5 h3 {
  font-size: 16px; }

.UeVu5 ul {
  margin-left: 0;
  padding-left: 0; }
  .UeVu5 ul li {
    list-style: none; }

.UeVu5 a {
  font-size: 13px; }

._3pwbd {
  font-family: "RobotoSlab Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 13px;
  color: #30353F;
  margin-bottom: 5px; }
  @media only screen and (max-width: 767px) {
    ._3pwbd {
      font-size: 18px;
      color: #333333; } }

._1cS8R {
  font-family: "Poppins Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 30px;
  color: #8A96AF;
  line-height: 1; }

._39Jl2 {
  font-family: "Poppins Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  color: #297BFF;
  line-height: 1; }
  @media only screen and (max-width: 767px) {
    ._39Jl2 a {
      color: #00B9FF !important; } }

._2TMDv {
  font-family: "Poppins Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12px;
  color: #8A96AF; }
  ._2TMDv ul {
    margin: 0;
    padding: 0; }
    ._2TMDv ul li {
      list-style: none; }
  @media only screen and (max-width: 767px) {
    ._2TMDv {
      font-size: 13px;
      color: #37414B; } }

.Uu7WU {
  margin-right: 6px;
  height: 20px;
  width: 19px; }

._2TvI_ a {
  color: #297BFF; }
  ._2TvI_ a:hover, ._2TvI_ a:active, ._2TvI_ a:focus {
    text-decoration: none;
    color: #297BFF; }
  @media only screen and (max-width: 767px) {
    ._2TvI_ a {
      color: #00B9FF; }
      ._2TvI_ a:hover, ._2TvI_ a:active, ._2TvI_ a:focus {
        text-decoration: none;
        color: #00B9FF; } }

._2gWF8 {
  margin-left: -16px;
  margin-bottom: 12px; }
  @media only screen and (max-width: 767px) {
    ._2gWF8 {
      margin: 0; } }
  @media only screen and (min-width: 768px) and (max-width: 1199px) {
    ._2gWF8 {
      margin-bottom: 30px; } }
  ._2gWF8._2FIGE {
    margin-bottom: 6px; }

._2vjoN,
._2lvDd {
  border-right: solid 1px rgba(48, 53, 63, 0.1);
  padding: 10px 0 20px 16px;
  height: 90px; }
  ._2vjoN:last-child,
  ._2lvDd:last-child {
    border-right: none; }
  @media only screen and (max-width: 767px) {
    ._2vjoN,
    ._2lvDd {
      height: 80px;
      padding-left: 0;
      border-right: none; } }

._2dDho {
  height: 6px;
  width: 10px;
  margin-left: 6px;
  margin-top: 2px; }

._1vJl0 h3 {
  margin: 16px;
  font-family: "RobotoSlab Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px; }

._1vJl0 ._2vjoN {
  height: 90px;
  padding-top: 2px; }

.JBt1b ul {
  margin: 0;
  padding: 0;
  display: inline-block; }
  .JBt1b ul li {
    float: left;
    list-style: none; }

._3Co6L {
  padding-top: 17px; }

.eDn7d ul {
  margin: 0;
  padding: 0; }
  .eDn7d ul li {
    background: #f0f0f0;
    border: 2px solid transparent;
    height: 64px;
    list-style: none;
    margin-bottom: 10px;
    overflow: hidden;
    width: 64px; }
    .eDn7d ul li img {
      max-width: 60px;
      padding: 5px 10px 0; }

@media only screen and (min-width: 992px) {
  ._3w5vf {
    padding-left: 4px; } }

._1wvlU {
  background: #f0f0f0;
  padding: 25px 40px 0;
  height: auto;
  text-align: center;
  max-width: 430px;
  height: 613px;
  overflow: hidden;
  position: relative; }
  @media only screen and (min-width: 768px) and (max-width: 1199px) {
    ._1wvlU {
      padding: 20px 30px 0;
      width: 380px; } }
  ._1wvlU video {
    width: 100%;
    height: auto;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover; }
  ._1wvlU img {
    max-height: 613px;
    max-width: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover; }

._1wFTk {
  height: 100%;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 900; }
  ._1wFTk i {
    border: none;
    color: #ffffff;
    cursor: pointer;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px; }
  ._1wFTk._1IJtB {
    display: none; }

._3awj7 {
  border: 2px solid #2887F2 !important; }

._2Z0I0 {
  display: flex;
  align-items: center; }
  ._2Z0I0._3moZo {
    filter: contrast(40%); }
  ._2Z0I0._1IJtB {
    filter: none; }

._3fXrt {
  margin-right: 10px; }
  ._3fXrt:hover, ._3fXrt:focus, ._3fXrt:active {
    border: none;
    outline: none; }
  ._3fXrt > div:first-child {
    border: none !important;
    box-shadow: none;
    background: transparent !important;
    outline: none; }
    ._3fXrt > div:first-child > div > div {
      font-family: "RobotoSlab Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-size: 16px;
      color: #30353F; }

._26fpQ {
  background: white;
  width: 82px !important;
  border-radius: 6px;
  box-shadow: 0 4px 7px rgba(5, 53, 134, 0.17);
  padding: 0; }
  ._26fpQ li {
    font-family: "RobotoSlab Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #30353F;
    padding-left: 17px;
    height: 47px;
    line-height: 37px;
    list-style: none;
    border-left: solid 3px transparent; }
    ._26fpQ li:first-child {
      border-radius: 6px 6px 0 0; }
    ._26fpQ li:last-child {
      border-radius: 0 0 6px 6px; }
    ._26fpQ li:hover, ._26fpQ li[aria-selected=true] {
      background-color: #EDF3F4;
      border-left: solid 3px #267BFF; }

.ehox- {
  font-family: "Poppins Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  padding: 10px 24px; }

._35Bww {
  position: absolute;
  right: 0; }

.dG8vV {
  font-family: "RobotoSlab Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-align: center; }

._1qze7 {
  font-size: 18px;
  color: #151515;
  letter-spacing: 0.26px;
  line-height: 25px;
  margin-bottom: 0px; }

._3fcQp {
  font-size: 12px;
  color: #909090;
  letter-spacing: 0.26px;
  line-height: 16px;
  margin: 5px 5px 5px 0px; }

._2TnZA {
  font-size: 12px;
  color: #909090;
  letter-spacing: 0.26px;
  line-height: 16px;
  padding-left: 50px;
  padding-right: 50px; }

._1lcd3 {
  font-size: 12px;
  color: #151515;
  letter-spacing: 0.17px;
  margin-top: 20px;
  margin-bottom: 5px; }

._1A58N {
  align-content: center;
  margin-top: 8px;
  margin-bottom: 8px; }

._1tiAj {
  width: 184px;
  height: 51.2px;
  background: #212121;
  border-radius: 100px 100px;
  padding: 10px;
  float: left;
  margin: 5px;
  cursor: pointer; }

._3-FpS {
  align-content: center;
  display: inline-block;
  margin-top: 5px;
  display: flex;
  justify-content: center; }

._3-wfa {
  font-family: SFProText-Light;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 0.15px;
  margin-top: -2px;
  margin-bottom: -4px; }

._3vqnu {
  font-family: SFProText-Bold;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0.44px;
  margin-top: -4px;
  margin-bottom: 5px; }

._1Lprs {
  display: block; }

._1-VFm {
  float: left;
  margin: 2px 15px 5px 15px;
  width: 21.5px;
  height: 28px; }

.BJpF4 {
  display: table;
  margin-top: -2px; }

.V3WLx,
._24oAF {
  width: 100%;
  height: calc(100vh - 50px);
  border: 1px solid transparent;
  background: #FFFFFF;
  position: relative; }
  @media only screen and (min-width: 992px) {
    .V3WLx,
    ._24oAF {
      height: calc(100vh - 160px); } }

._3ZN6_ {
  display: none; }

.zeh-p {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: scroll;
  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
  padding: 0;
  margin: 0 auto; }

._1m5kk {
  margin: 8px;
  font-family: "Poppins Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5em; }
  ._1m5kk ul {
    font-size: 11px; }
  ._1m5kk a {
    color: #00a3d9 !important;
    text-decoration: none;
    word-wrap: break-word;
    font-size: 12px; }
  ._1m5kk h2,
  ._1m5kk h3 {
    color: #35414c;
    font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: normal;
    margin: 1em 0 0.5em; }
  ._1m5kk ol {
    margin-bottom: 10px;
    margin-top: 0; }
  ._1m5kk li {
    line-height: 1.5em; }
  ._1m5kk b {
    font-family: "Poppins Medium", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: normal; }
  ._1m5kk img {
    border: 0;
    height: auto;
    max-width: 100%;
    outline: none;
    vertical-align: middle; }
  ._1m5kk pre {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333333;
    display: block;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    font-size: 14px;
    line-height: 1.42857;
    margin: 0 0 10px;
    overflow: auto;
    padding: 9.5px;
    word-break: break-all;
    word-wrap: break-word; }
  ._1m5kk ._33ukV {
    background-color: #eeeeee;
    border: 1px solid #999999;
    border-radius: 4px;
    margin-bottom: 20px;
    overflow: hidden;
    padding: 10px; }
    ._1m5kk ._33ukV div {
      float: left;
      font-family: "Poppins Medium", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-weight: bold;
      font-size: 18px;
      width: 50px; }
    ._1m5kk ._33ukV p {
      display: block;
      float: left;
      line-height: initial;
      margin: 0;
      width: calc(100% - 50px); }
  ._1m5kk ._3d_Xi {
    color: #00a3d9;
    cursor: pointer;
    font-size: 12px;
    margin: 8px 0; }
  ._1m5kk td:first-child {
    width: 8%; }
  ._1m5kk td {
    background: none;
    line-height: 1.42857;
    padding: 7px;
    text-align: left;
    vertical-align: top; }
  ._1m5kk code {
    background-color: #f9f2f4;
    border-radius: 4px;
    color: #c7254e;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    font-size: 90%;
    padding: 2px 4px; }
  ._1m5kk td:nth-child(2) {
    width: 92%; }
  ._1m5kk .R3pNJ {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    display: none;
    margin: 0 20px;
    overflow-x: scroll; }

._32u1X {
  display: block !important; }

.RWPqQ {
  background: #00a3d9;
  background-clip: padding-box;
  border-radius: 60px;
  border: none;
  bottom: 10px;
  color: white;
  height: 40px;
  opacity: 0.3;
  position: absolute;
  right: 24px;
  text-align: center;
  width: 40px;
  z-index: 49;
  font-size: 24px; }
  .RWPqQ:hover, .RWPqQ:focus {
    color: white;
    outline: none; }

.aCYcC {
  overflow-y: auto;
  height: 100%; }

._3d0GU {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  opacity: 1;
  z-index: 9999; }
  ._3d0GU._2YCUz {
    position: absolute !important; }
  ._3d0GU ._2emF1 {
    width: 100%;
    height: 100%;
    display: table;
    user-select: text; }
    ._3d0GU ._2emF1 ._2ny11 {
      display: table-cell;
      text-align: center;
      vertical-align: middle; }

._334HO {
  width: 500px;
  height: 400px; }

._3u-4k {
  height: 169px;
  margin: 0 7px;
  border: 1px solid #B7CFD7;
  border-radius: 8px;
  background-color: white; }
  ._3u-4k h2 {
    height: 56px;
    color: black;
    font-family: "RobotoSlab Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 18px;
    line-height: 28px;
    width: 210px; }
  ._3u-4k h3 {
    width: 80%;
    margin: 14px 10%;
    border-top: solid 1px #B7CFD7;
    color: black;
    font-family: "Poppins SemiBold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 26px;
    padding: 14px 0; }
  ._3u-4k:hover, ._3u-4k:focus {
    box-shadow: 0 8px 11px 0 rgba(0, 0, 0, 0.08); }

._3cxja {
  height: 24px;
  width: 24px; }

._3rrbp {
  padding: 30px; }

.pPKmz {
  height: 445px;
  margin: 0 7px;
  border: 1px solid #B7CFD7;
  border-radius: 8px;
  padding: 30px;
  background-color: white; }
  .pPKmz h2 {
    color: black;
    font-family: "RobotoSlab Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 18px;
    line-height: 28px; }
  .pPKmz h3 {
    width: 80%;
    margin: 14px 10%;
    border-top: solid 1px #B7CFD7;
    color: black;
    font-family: "Poppins SemiBold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 26px;
    padding: 14px 0; }
  .pPKmz:hover, .pPKmz:focus {
    box-shadow: 0 8px 11px 0 rgba(0, 0, 0, 0.08); }

._1WyCF h2 {
  font-family: "RobotoSlab Bold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }

.KQnMo {
  border-top: solid 1px #B7CFD7;
  padding: 20px; }
  .KQnMo div {
    color: black;
    font-size: 14px; }

._3Nq32 {
  margin-top: 20px; }

.Lrr3E {
  height: 14px;
  width: 14px;
  margin-right: 12px; }

._1Yktz th {
  border-radius: 4px 4px 0 0;
  background-color: #F6F6F6 !important;
  color: #303030;
  font-family: "Poppins Medium", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12px; }

._1Yktz td {
  color: #303030;
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12px; }

._3sZze {
  float: right;
  margin: 20px 0; }

._1EBi6 {
  width: 100%;
  height: calc(100vh - 50px);
  border: 1px solid transparent; }
  @media only screen and (min-width: 992px) {
    ._1EBi6 {
      height: calc(100vh - 160px); } }

._1zQPK {
  display: none; }

._8WHbe {
  cursor: pointer;
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 15px;
  color: #646E83;
  margin-bottom: 14px; }
  ._8WHbe._2Zfib {
    color: #30353F;
    cursor: default; }

._1IQ5P {
  height: calc(100vh - 450px) !important; }

._-2Kob {
  float: right;
  border-radius: 40px;
  padding: 8px 30px;
  cursor: pointer;
  z-index: 2;
  height: 40px;
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  border: solid 1px #EE6B6B;
  background-color: #EE6B6B;
  color: white;
  margin-bottom: 12px; }
  ._-2Kob._2Ul7G, ._-2Kob._2Ul7G:hover {
    background-color: #297BFF;
    border: solid 1px #297BFF; }
  ._-2Kob:hover {
    opacity: .6;
    background-color: #EE6B6B;
    color: white;
    border: solid 1px #EE6B6B; }
  ._-2Kob:active, ._-2Kob:focus {
    background-color: #EE6B6B;
    color: white;
    border: solid 1px #EE6B6B; }

._14vDu {
  border-bottom: none !important; }
  ._14vDu img {
    height: 36px;
    width: 36px;
    background: #8A96AF; }
  ._14vDu h4 {
    font-family: "RobotoSlab Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.1rem;
    color: #30353F; }
  ._14vDu ._2wRQL {
    font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #8A96AF;
    margin: 0;
    padding-left: 20px;
    display: inline-block; }
    ._14vDu ._2wRQL li {
      float: left;
      margin: 0 50px 0 0; }
  ._14vDu ._3h5Z9 {
    font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #30353F;
    padding-top: 10px; }
    ._14vDu ._3h5Z9 pre {
      background: #f4f4f4;
      color: #212121; }

._14_2h, ._1rr6G label,
._1rr6G input,
.Lbp-T label,
.Lbp-T input,
.eg_yH label,
.eg_yH input,
.sRuZo label,
.sRuZo input, ._1rr6G textarea,
.Lbp-T textarea,
.eg_yH textarea,
.sRuZo textarea {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #30353F; }

._25Sty {
  margin-right: 20px;
  border-color: #8A96AF !important; }

._2f1xI {
  height: 200px;
  padding-bottom: 40px; }

._1rr6G,
.Lbp-T,
.eg_yH,
.sRuZo {
  padding: 5px;
  margin-bottom: 5px; }
  ._1rr6G label,
  ._1rr6G input,
  .Lbp-T label,
  .Lbp-T input,
  .eg_yH label,
  .eg_yH input,
  .sRuZo label,
  .sRuZo input {
    font-size: 14px; }
  ._1rr6G textarea,
  .Lbp-T textarea,
  .eg_yH textarea,
  .sRuZo textarea {
    font-size: 12px !important; }

._1ZVSg {
  width: 100%;
  height: calc(100vh - 50px);
  border: 1px solid transparent;
  background: transparent;
  position: relative; }
  @media only screen and (min-width: 992px) {
    ._1ZVSg {
      height: calc(100vh - 160px); } }

._3Bz71 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 60px);
  width: 100%;
  vertical-align: middle; }


._2gqdk {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
  height: 100%; }
  ._2gqdk.xueje {
    min-height: 240px; }
  ._2gqdk h3 {
    font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    color: #646E83;
    padding: 5px;
    text-align: center;
    white-space: normal; }
  ._2gqdk ._3xHMC {
    font-size: 15px;
    display: inline; }
  ._2gqdk ._2KcwN {
    margin-top: 71px;
    margin-bottom: -10px;
    font-size: 20px;
    text-align: center; }
  ._2gqdk ._1zEXQ {
    margin-left: 50px;
    font-size: 150%;
    cursor: pointer; }
  ._2gqdk .lxGs1 {
    margin-left: 50px;
    font-size: 150%;
    cursor: none; }
  ._2gqdk ._10qQu {
    padding: 0;
    vertical-align: top; }
  ._2gqdk ._1zEXQ h4 {
    font-size: 60%; }
  ._2gqdk ._3bbkr {
    margin-top: 70px;
    font-size: 23px; }
  ._2gqdk ._1YBP- {
    width: 80%;
    height: 200px;
    text-align: center; }
  ._2gqdk ._343TU {
    float: left;
    width: 50%;
    height: 100%; }
    ._2gqdk ._343TU h2 {
      text-align: left;
      margin-left: 27px; }
    @media only screen and (max-width: 767px) {
      ._2gqdk ._343TU {
        width: 100%; } }
  ._2gqdk ._3x0xV {
    float: right;
    width: 50%;
    height: 100%; }
    ._2gqdk ._3x0xV h2 {
      text-align: left;
      margin-left: 27px; }
    @media only screen and (max-width: 767px) {
      ._2gqdk ._3x0xV {
        width: 100%;
        margin-top: 80px; } }
  ._2gqdk ._38eSd {
    position: relative;
    padding: .2em;
    text-align: left; }
  ._2gqdk ol._3EyNw {
    counter-reset: li; }
  @media only screen and (max-width: 767px) {
    ._2gqdk {
      margin-bottom: 300px; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    ._2gqdk {
      margin-bottom: 100px; } }

._2gqdk h2,
._2gqdk h3 {
  margin-top: 20px; }

._13O8k {
  position: absolute;
  left: -50px;
  top: 205px;
  background: #64C489;
  border: solid 1px transparent;
  border-radius: 40px 0 0 40px;
  color: white;
  height: 40px;
  padding: 0 10px;
  width: 50px; }
  ._13O8k._2RnqB {
    top: 100px; }
  ._13O8k._1k9qe {
    top: 73px; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      ._13O8k._1k9qe {
        top: 168px; } }
  ._13O8k:hover, ._13O8k:active, ._13O8k:focus {
    background: #64C489;
    border: solid 1px transparent;
    border-radius: 40px 0 0 40px;
    color: white;
    height: 40px;
    width: 50px; }
  ._13O8k img {
    width: 24px;
    height: 24px; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    ._13O8k {
      top: 166px; } }
  @media only screen and (max-width: 767px) {
    ._13O8k {
      height: 34px;
      padding: 0;
      width: 40px;
      left: -40px;
      top: 76px; }
      ._13O8k._2RnqB {
        top: 5px; }
      ._13O8k:hover, ._13O8k:active, ._13O8k:focus {
        height: 35px;
        width: 40px; } }

._3HSTP {
  background: white;
  border: 1px solid #64C489;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  display: block;
  top: 0;
  transition: all 0.8s !important;
  width: 330px !important;
  z-index: 999 !important; }
  @media only screen and (max-width: 767px) {
    ._3HSTP {
      width: 100% !important; } }

._3ovFE {
  background: rgba(0, 0, 0, 0.15) !important;
  left: 0;
  top: 0;
  z-index: 998 !important; }

.SKd4W {
  color: #30353F;
  font-family: "RobotoSlab Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 20px;
  float: left; }

.X7SbY h3 {
  color: #37414B;
  font-size: 16px;
  text-align: center;
  line-height: 2;
  margin: 0;
  font-family: "Poppins SemiBold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }

._2DqjJ {
  padding: 13px 30px 87px; }
  @media only screen and (max-width: 767px) {
    ._2DqjJ {
      padding: 15px 15px 100px; } }

._2Jagt {
  cursor: pointer;
  float: right;
  margin-top: 10px;
  width: 10px;
  height: 10px; }

._2c50B {
  cursor: pointer;
  float: right;
  margin-top: 7px;
  margin-right: -4px;
  width: 12px;
  height: 12px; }

._3wPM6 {
  width: 100%; }

._2mHSZ {
  width: 100%;
  margin: 10px 0; }

.K5s4A {
  color: #30353F;
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px; }

._2c29Z {
  margin: 10px 0; }
  @media only screen and (max-width: 991px) {
    ._2c29Z {
      background: transparent;
      margin: 5px 0; } }

._3rI7g {
  margin: 9px 0; }

.vyHm4 {
  margin-right: 10px;
  margin-bottom: 10px; }

._2Mx2x {
  margin-right: 30px;
  border-color: #8A96AF;
  padding: 18px 36px; }
  @media only screen and (max-width: 767px) {
    ._2Mx2x {
      text-transform: uppercase; } }

._3bngU {
  padding: 18px 36px; }
  @media only screen and (max-width: 767px) {
    ._3bngU {
      text-transform: uppercase; } }

._23g03 {
  background: white;
  border-top: 1px solid #e8e8e8;
  bottom: 0;
  margin: 0;
  position: fixed;
  padding: 20px 0 20px 0;
  right: 3px;
  text-align: center;
  width: 324px;
  z-index: 2; }
  @media only screen and (max-width: 767px) {
    ._23g03 {
      width: 100%; } }

._2VtOc {
  display: none !important; }

._3D3wj {
  display: none !important; }

._1T_FM {
  font-size: 16px;
  color: white; }

._2TrBk {
  font-size: 28px;
  color: #64C489;
  margin-top: 18px; }

._1hxJn {
  background-color: #64C489;
  border-radius: 40px;
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  border: solid 1px #64C489;
  padding: 0 15px;
  color: white;
  height: 40px;
  width: 90px;
  top: 12px; }
  ._1hxJn span {
    font-size: 14px;
    color: white; }
  ._1hxJn:hover, ._1hxJn:active, ._1hxJn:focus {
    background-color: #64C489;
    border: solid 1px #64C489;
    opacity: 0.6; }
  ._1hxJn._2vlTG {
    background-color: #64C489;
    border: solid 1px #64C489;
    cursor: not-allowed;
    opacity: 0.8; }

._2XjZJ {
  position: absolute;
  right: 0;
  top: 14px; }
  ._2XjZJ._2KmEp {
    right: 100px; }
  @media only screen and (max-width: 991px) {
    ._2XjZJ {
      position: static; } }

._1Zbt9 {
  background: transparent;
  border: none;
  box-shadow: none;
  cursor: auto; }
  ._1Zbt9:hover, ._1Zbt9:active, ._1Zbt9:focus {
    background: transparent; }

.wljvm {
  display: flex; }
  .wljvm ._1Zbt9 {
    align-items: center;
    color: #64C489;
    display: flex;
    font-size: 20px;
    margin-right: 10px;
    padding: 0; }
    .wljvm ._1Zbt9:hover, .wljvm ._1Zbt9:active, .wljvm ._1Zbt9:focus {
      color: #64C489; }
    @media only screen and (max-width: 991px) {
      .wljvm ._1Zbt9 {
        margin-right: 0;
        font-size: 14px; } }

._35-s6 {
  color: #64C489;
  font-size: 20px;
  display: flex;
  align-items: center;
  padding: 0; }
  ._35-s6:hover, ._35-s6:active, ._35-s6:focus {
    color: #64C489; }
  @media only screen and (max-width: 991px) {
    ._35-s6 {
      font-size: 14px; } }

@media only screen and (max-width: 991px) {
  ._1JN4R {
    background: transparent;
    border: 1px solid #00B9FF;
    border-radius: 4px;
    color: #00B9FF;
    display: inline-flex;
    padding: 15px 5px;
    margin-left: 5px;
    height: auto;
    text-transform: uppercase; }
    ._1JN4R:hover, ._1JN4R:focus, ._1JN4R:active, ._1JN4R[disabled] {
      background: transparent;
      border: 1px solid #00B9FF;
      color: #00B9FF;
      opacity: .6; } }

._2wH-4 {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  font-size: 14px;
  border: solid 1px #f0f0f0;
  background-color: white;
  line-height: 0 !important;
  position: absolute;
  right: 100px;
  z-index: 2;
  padding: 8px;
  border-radius: 60px;
  width: 400px; }
  ._2wH-4 ._1y4Hv {
    margin-right: 10px;
    color: #8A96AF; }
  ._2wH-4 ._3GQg4 {
    margin-right: 10px;
    width: 160px; }
    ._2wH-4 ._3GQg4 > div:first-child {
      border-radius: 26px; }
      ._2wH-4 ._3GQg4 > div:first-child:hover, ._2wH-4 ._3GQg4 > div:first-child:focus, ._2wH-4 ._3GQg4 > div:first-child:active {
        border: 1px solid #d9d9d9 !important; }
  ._2wH-4 ._3ogIr li {
    font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #297BFF; }

._3kP7z {
  text-align: center; }
  ._3kP7z i {
    color: #78BB2E;
    font-size: 60px; }
  ._3kP7z h3 {
    font-family: "Poppins Medium", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 24px;
    padding: 12px 0 0; }
  ._3kP7z h5 {
    font-family: "Poppins Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    padding: 0 0 12px; }
  @media only screen and (max-width: 767px) {
    ._3kP7z h3 {
      font-size: 20px; }
    ._3kP7z h5 {
      font-size: 15px; }
    ._3kP7z a {
      border-radius: 40px; } }

._1ln-l,
.ZTISk {
  height: auto;
  width: 120px;
  border-radius: 10px;
  background: #8A96AF; }
  @media only screen and (max-width: 320px) {
    ._1ln-l,
    .ZTISk {
      width: 100px; } }

._1ZLYH {
  margin-left: 12px; }

.LSCp_ {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333333;
  opacity: 0.5; }

._1qXT3 {
  height: 6px;
  width: 10px;
  margin-left: 6px;
  margin-top: 2px; }

._155XM {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333333;
  padding: 8px 0; }
  @media only screen and (max-width: 767px) {
    ._155XM a {
      color: #00B9FF; } }
  @media only screen and (max-width: 320px) {
    ._155XM {
      padding: 3px 0;
      line-height: 15px; } }

._2Ta4Y {
  padding: 5px 15px;
  line-height: 20px !important; }

._1Fqtm {
  margin-right: 10px; }
  ._1Fqtm:hover, ._1Fqtm:focus, ._1Fqtm:active {
    border: none;
    outline: none; }
  ._1Fqtm > div:first-child {
    border: none !important;
    box-shadow: none;
    background: transparent !important;
    outline: none; }
    ._1Fqtm > div:first-child > div > div {
      font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-size: 14px;
      color: #333333; }

.ltlfS li {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333333; }
  .ltlfS li:hover, .ltlfS li[aria-selected=true] {
    background-color: #EDF3F4;
    border-left: solid 3px #267BFF; }

._3w-lt {
  background-color: #f9fafc;
  height: 115px;
  width: 100%;
  margin-bottom: 20px; }

.tnIEI {
  background-color: #f9fafc;
  z-index: 1;
  height: 115px;
  width: 100%;
  top: 0;
  padding-left: 20px;
  margin: 0 auto;
  max-width: 1440px; }

._1NTTx {
  max-width: 66px;
  margin-top: 20px;
  position: relative;
  z-index: 4; }

.N33B7 {
  background: transparent;
  padding: 0;
  height: 115px;
  position: relative;
  overflow: hidden; }

._2VwXw {
  display: none !important; }

._5eQst {
  display: block;
  position: relative; }

._3ys2l {
  position: absolute;
  right: 0; }

.yN8gg {
  height: 120px;
  padding: 10px;
  margin: 0 0 20px 20px;
  cursor: pointer;
  background: white;
  border: 1px solid #B7CFD7;
  box-shadow: 0 10px 10px 0 rgba(175, 191, 222, 0.19);
  border-radius: 6px;
  box-sizing: border-box;
  transition: all cubic-bezier(0.4, 0, 1, 1) 0.2s; }
  .yN8gg:hover {
    border: 3px solid #2584F1;
    padding: 8px; }

._20PBi {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden; }

.UqQeJ {
  font-family: "Poppins Medium", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12px;
  color: #30353F;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  padding-bottom: 6px; }
  .UqQeJ._3z5N_ {
    color: #704C9F; }

._3NUuC,
._1FR3Z {
  font-family: "Poppins Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12px;
  color: #30353F;
  height: 43px;
  margin: 0;
  overflow: hidden;
  word-break: break-word; }

._1FR3Z {
  display: flex;
  align-items: flex-end; }

._1OQcm {
  border-radius: 30px;
  border: 1px solid transparent;
  box-shadow: none;
  height: 40px;
  padding-left: 20px;
  padding-bottom: 6px;
  width: 100%;
  z-index: 2;
  font-size: 15px;
  font-family: "Poppins Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #30353F;
  background: transparent; }
  ._1OQcm:focus, ._1OQcm:hover {
    box-shadow: none;
    border: 1px solid transparent; }
  @media only screen and (max-width: 767px) {
    ._1OQcm {
      height: 36px;
      font-size: 14px;
      padding-left: 10px; } }
  @media only screen and (max-width: 320px) {
    ._1OQcm {
      font-size: 12px;
      padding-left: 14px; } }

._2N6F0 {
  box-shadow: none;
  position: absolute;
  top: 4px;
  right: 3px;
  background: transparent;
  border: none;
  height: 32px;
  width: 32px;
  z-index: 3; }
  ._2N6F0:focus, ._2N6F0:hover, ._2N6F0:active {
    background: transparent;
    border: none; }
  ._2N6F0 img {
    height: 30px;
    width: 30px; }

._3qwBd {
  position: relative;
  margin-bottom: 5px;
  width: 55%;
  z-index: 3;
  max-width: 400px; }
  @media only screen and (max-width: 991px) {
    ._3qwBd {
      width: 81%; } }

._30n2x {
  display: block; }

._3EwJQ {
  display: none !important; }

._1pB6w {
  background: white;
  font-family: "Poppins Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  height: 40px;
  width: 100%;
  border-radius: 30px;
  box-shadow: 0 0 6px -2px #ced2d8;
  border: 1px solid #ced2d8;
  position: absolute;
  top: -22px; }

.AS84o {
  display: inline-flex;
  width: 100%; }

._30wP2 {
  font-family: "Poppins Medium", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  color: #3F4E66;
  white-space: nowrap;
  line-height: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 8px;
  margin: 0; }

._1mD_Y {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #297BFF;
  position: absolute;
  text-decoration: none;
  right: 0; }

._35WIM {
  margin-left: -20px; }

._2H436 {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #525A6B;
  text-align: justify; }

._3IBeg {
  width: 100%;
  margin: 10px 0; }
  ._3IBeg a,
  ._3IBeg span {
    font-family: "Poppins Medium", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    color: #3F4E66; }
  ._3IBeg a {
    color: #2887F2; }

._3UjsR {
  width: 70% !important; }

.SMQSD {
  padding: 10px 0; }

._2p9NM {
  padding: 10px 7px;
  background: #212121;
  color: white; }

._2J5uU {
  position: relative; }

._3NQzK {
  position: absolute;
  right: 0;
  background: none;
  color: white;
  cursor: pointer;
  border: 0;
  padding: 2px 5px; }
  ._3NQzK:hover {
    color: red; }

._1loQi {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  ._1loQi p {
    font-size: 18px;
    margin: 0; }
  ._1loQi button {
    margin: 10px 0; }

